.jumbotron {
    background: rgb(255, 131, 0);
    background: linear-gradient(200deg, rgba(255, 131, 0, 1) 11%, rgba(175, 100, 20, 1) 91%);
    margin-bottom: 0rem;
    padding: 2rem;
}

.signout-btn {
    position: absolute;
    right: 2%;
    top: 2%;
}

.create-title {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
}

.noldor-logo {
    width: 8%;
    margin-left: 1%;
}

.noldor-grid {
    margin-top: 5%;
}

.noldor-card {
    background: rgb(51, 51, 51);
    background: linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(31, 30, 30, 1) 100%);
    color: #fff;
    border: 0.1px solid #FF8300;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #888;
}

.card-title {
    text-transform: capitalize;
}

li {
    list-style-type: none;
}

hr {
    border-top: 1px solid #fff !important;
}

.card-link {
    float: right;
    color: #FF8300;
    font-weight: bold;
}

.note-trash {
    position: absolute;
    top: 14px;
    right: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.trash-bin {
    color: #8A0808;
    cursor: pointer;
}

.item-trash {
    margin-left: 15px;
    margin-top: 5px;
    transition: all .2s ease-in-out;
}

.item-trash:hover,
.note-trash:hover {
    color: #FF0000;
    transform: scale(1.7);
}

.create-note-btn,
.signout-btn {
    transition: all .2s ease-in-out;
}

.add-item {
    float: right;
}

.add-item:hover,
.create-note-btn:hover,
.signout-btn:hover {
    transform: scale(1.1);
}

.timestamp {
    margin-bottom: 0px !important;
    color: #FF8300;
    font-size: 12px;
}